.list_btn {
    display: flex;
    align-items: center;
}

.sub-btn {
    width: 100%;
    text-align: left;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -10px;
        left: -10px;
        border-radius: 10px;
    }

    &:hover::before {
        cursor: pointer;
        background-color: rgba(65, 112, 122, 0.1);
    }
}
