.wrapper {
    width: 80%;
    height: 90%;

    .info-field {
        justify-content: start;
        padding-left: 40px;
        margin-top: 20px;

        .label {
            font-size: 1.8rem;
            color: var(--primary);
            margin-right: 10px;
        }

        .value {
            font-size: 1.7rem;
        }
    }

    .link-payment {
        justify-content: start;
        color: var(--green2);
        font-size: 2rem;
        margin-top: 40px;
        padding-left: 40px;

        .icon {
            margin-left: 10px;
        }

        .title {
            position: relative;
            color: var(--green2);

            &:hover {
                cursor: pointer;
            }

            &:hover:before {
                width: 70%;
            }
        }

        .title::before {
            position: absolute;
            content: '';
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 4px;
            border-radius: 10px;
            background-color: var(--green2);
            transition: all 0.2s ease-in-out;
        }
    }
}
