.btn {
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    padding: 6px 14px;
    border-radius: 50px;
    color: var(--text-color);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 4px;
        background-color: var(--primary);
        border-radius: 50px;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }

    &.active {
        color: var(--primary);
        font-weight: 800;
    }

    &.disabled:hover {
        background-color: transparent;
        cursor: auto;
    }

    &:hover {
        cursor: pointer;

        &::before {
            opacity: 1;
            width: 80%;
        }
    }

    .icon {
        margin-left: 6px;
    }
}
