.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;

    .sidebar-item {
        width: var(--width-sidebar);
        display: flex;
        justify-content: center;
        margin: 0 8px;
        border-radius: 10px;
        transition: all ease-in-out 0.3s;
        color: var(--green2);

        .icon {
            width: 58px;
            height: 54px;
            font-size: 3rem;
        }

        // &:hover {
        //     background-color: var(--green3-1);
        // }

        &:hover ~ .sub-title {
            transform: translate(5%, -50%);
            opacity: 1;
        }
    }

    .sub-title {
        position: absolute;
        width: 130px;
        z-index: -10;
        opacity: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        left: calc(var(--width-sidebar) + 10px);
        padding: 8px 0;
        text-align: center;
        font-size: 1.8rem;
        border-radius: 10px;
        background-color: var(--primary);
        color: white;
        transition: all ease-in-out 0.3s;

        &.large {
            width: 210px;
        }
    }

    //avatar item
    .wrap-avatar {
        width: var(--width-sidebar);
        display: flex;
        justify-content: center;
        margin: 0 8px;
        .avatar {
            padding: 10px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
        }

        &:hover ~ .sub-title {
            transform: translate(5%, -50%);
            opacity: 1;
        }
    }
}
