.wrapper {
    display: flex;
    // align-items: center;
    position: relative;

    .input {
        background-color: var(--primary);
        font-size: 1.7rem;
        padding: 8.5px 40px 8.5px 15px;
        width: 282px;
        border-radius: 50px;
        transition: all ease-in-out 0.5s;
        color: white;

        &.skrink {
            padding: 8.5px 30px 8.5px 15px;
            width: 0;
        }
    }

    .btn {
        position: absolute;
        right: 4px;
        padding: 6px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }
}
